/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Nav Styling */
.nav-header {
    font-weight: 600;
    font-size: 2rem;
}

.nav-image {
    max-width: 150px;
}

@media (max-width: 600px) {
    .nav-image {
        max-width: 100px;
    }
}

.navGround {
    background-color: rgba(2, 117, 216, 1);
}

@supports (backdrop-filter: blur(1rem)) {
    .navGround {
        background-color: rgba(2, 117, 216, 0.8);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        color: white;
    }
}

/* List of Pokemon/Button Styling */
.pokemon-list {
    gap: 10px 55px;
    text-align: center;
    list-style-type: none;
    margin-top: 50px;
    padding: 0;
}

.selected-button {
    width: 70%;
    max-width: 70%;
    border: 2px solid #3466af;
    cursor: pointer;
    padding: 2%;
    margin: 0;
    border-radius: 0.6em;
}
.selected-button:hover {
    width: 70%;
    border: 2px solid #ffcb05;
    cursor: pointer;
    padding: 2%;
    margin: 0;
    border-radius: 0.6em;
}

@media (min-width: 600px) and (max-width: 900px) {
    .selected-button {
        max-width: 50%;
    }
}

@media (min-width: 900px) {
    .selected-button {
        max-width: 30%;
    }
}

.list-container {
    margin-top: 2.2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
}

/* Modal Styling */
.modal-content {
    margin: auto;
    display: inline-block;
    margin-top: 15%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    padding: 5px;
    max-width: 600px;
    text-align: center;

    border-radius: 1em;
    border: 2px solid #ffcb05;
    background-color: rgba(52, 102, 175, 0.8);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    color: white;
}

footer {
    background-color: rgba(2, 117, 216, 1);
}

@supports (backdrop-filter: blur(1rem)) {
    footer {
        background-color: rgba(2, 117, 216, 0.8);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        color: white;
    }
}
