/* COLOR SCHEME
Primary Color: #ffde00;
Secondary Color: #3b4cca;
Light Red: #FF0000;
Dark Red: #CC0000;
Gold: #b3a125;
*/

body {
  font-family: "Montserrat" ", sans-serif";
}

main {
  text-align: center;
}

p {
  margin: auto;
  text-align: center;
  line-height: 2;
}

ul {
  list-style: none;
}

#topNav {
  background-color: #ffde00;
  height: 60px;
  padding: 0 10px;
  width: 100%;
}

/* Navigation Bar */
.navbar {
  margin: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 500;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

.button-styling {
  background-color: #ffde00;
  color: #3b4cca;
  margin-top: 10px;
  padding: 10px;
  width: 40%;
  font-weight: bolder;
}
